<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traductor Braille</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        function insertCharacter(character) {
            var textArea = document.getElementById('input-text');
            textArea.value += character;
        }
    </script>
</head>
<body>
    <h1>Traductor Braille</h1>
    <form action="/translate" method="post">
        <textarea id="input-text" name="text" placeholder="Ingresa un texto, clic en el Botón">{{ input_text }}</textarea>
        <br>
        <button type="submit" name="direction" value="text_to_braille">Texto a Braille</button>
        <button type="submit" name="direction" value="braille_to_text">Braille a Texto</button>
        <button type="submit" name="direction" value="text_to_braille_mirror">Texto a Braille Espejo</button>
    </form>
    <div class="keyboard">
        <h2>Teclado Español</h2>
        <div>
            {% for char in "abcdefghijklmnñopqrstuvwxyzáéíóúü,.0123456789" %}
            <button type="button" onclick="insertCharacter('{{ char }}')">{{ char }}</button>
            {% endfor %}
        </div>
        <h2>Teclado Braille</h2>
        <div>
            {% for char in "⠁⠃⠉⠙⠑⠋⠛⠓⠊⠚⠅⠇⠍⠝⠕⠏⠟⠗⠎⠞⠥⠧⠺⠭⠽⠵⠻⠷⠮⠌⠬⠾⠳⠂⠄⠁⠃⠉⠙⠑⠋⠛⠓⠊⠚" %}
            <button type="button" onclick="insertCharacter('{{ char }}')">{{ char }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="result">
        <h2>Resultado:</h2>
        <p>{{ result }}</p>
    </div>
</body>
</html>
